<div class="main-screen">
    <div class="header">
      <h1>Main Screen Header</h1>
    </div>
    <div class="content">
      <div class="sidebar">
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown 1</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown 2</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li>Item 5</li>
          <li>Item 6</li>
        </ul>
      </div>
      <div class="main-content">
        <p>Main Content Here</p>
      </div>
    </div>
  </div>
  